{% extends 'base.html' %}

{% block title %}
    Posts
{% endblock %}

{% block content %}
    <div class="row mt-5 mb-3">
        <div class="col">
            <h1 class="h1">Posts</h1>
        </div>
        <div class="col text-end">
            <a class="btn btn-success" href="{% url 'add_post' %}">Add a post</a>
        </div>
    </div>
    {% for post in object_list %}
        <div class="border p-4 rounded bg-light mb-2">
            <h2 class="h2">{{ post.title }}</h2> 
            <div class="block">
                Status: {{ post.state.title }}
            </div>
            <a href="{% url 'view_post' post.pk %}" class="btn btn-primary mt-2">Read more</a>
        </div>
    {% empty %}
        <div class="alert alert-info">
            You dont have any posts yet.
        </div>
    {% endfor %}
{% endblock %}